<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Transition-beetwen-views.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E75CF86A1E744A4E00C2EA0A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E75CF87E1E744A4E00C2EA0A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E75CF8891E744A4E00C2EA0A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
